<div class="row">
    <div class="col-sm-12">
        <table width="100%;">
            <tr>
                <td><h3>Exception</h3></td>
            </tr>
            <tr>
                <td colspan="2"><hr style="margin-top: 0px;"></td>
            </tr>
        </table>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Message</h5>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Status</dt>
                    <dd>{{exceptionMessage.status}}</dd>

                    <dt>Error</dt>
                    <dd>{{exceptionMessage.error}}</dd>

                    <dt>Exception</dt>
                    <dd>{{exceptionMessage.exception}}</dd>

                    <dt>Message</dt>
                    <dd>{{exceptionMessage.message}}</dd>

                    <dt>Path</dt>
                    <dd>{{exceptionMessage.path}}</dd>
                </dl>
            </div>
        </div>

    </div>
</div>
