
<h2>Configuration</h2>

<div class="row">
    <div class="col-sm-12">
        <table width="100%;">
            <tr>
                <td><h3>Selected Property</h3></td>
            </tr>
            <tr>
                <td colspan="2"><hr style="margin-top: 0px;"></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ng-repeat="msg in selectedProperty.responseMessages">
            <div class="alert alert-danger" role="alert">{{msg.description}}</div>
        </div>
    </div>
</div>

<!-- View mode -->
<div ng-hide="editMode">
    <div class="row" >
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{selectedProperty.model.name}}</dd>

            <dt>Value</dt>
            <dd>{{selectedProperty.model.value}}</dd>

            <dt>Default Value</dt>
            <dd>{{selectedProperty.model.defaultValue}}</dd>

            <dt>Description</dt>
            <dd>{{selectedProperty.model.description}}</dd>
        </dl>
    </div>
</div>

<!-- Edit mode -->
<div class="row" ng-show="editMode">
    <div class="col-md-12">
        <form name="propertyForm" role="form" ng-submit="submitForm(propertyForm.$invalid)" novalidate autocomplete="off">
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="nameTxtFld">Name</label>
                            <input type="text" class="form-control" id="nameTxtFld" name="nameTxtFld" ng-model="selectedProperty.model.name" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group required" ng-class="{'has-error' : propertyForm.value.$invalid && !propertyForm.value.$pristine}">
                            <label class="control-label" for="valueTxtFld">Value</label>
                            <input type="text" class="form-control" id="valueTxtFld" name="valueTxtFld" ng-model="selectedProperty.model.value" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="nameTxtFld">Default Value</label>
                            <input type="text" class="form-control" id="defaultValueTxtFld" name="defaultValueTxtFld" ng-model="selectedProperty.model.defaultValue" disabled>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="valueTxtFld">Description</label>
                            <p class="form-control-static">{{selectedProperty.model.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-danger" ng-click="resetAction()">Reset to Default</button>
                </div>
                <div class="col-md-8" align="right">
                    <button type="submit" class="btn btn-primary" ng-click="saveAction(propertyForm.$invalid)" ng-disabled="propertyForm.$invalid">Save</button>
                    <button type="button" class="btn btn-default" ng-click="cancelAction()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Mode switching controls -->
<div class="row" ng-hide="editMode">
    <div class="col-md-12">
        <hr>
        <div class="col-md-4">
        </div>
        <div class="col-md-8" align="right">
            <button type="button" class="btn btn-primary" ng-click="editAction()" ng-disabled="!(currentUser.personId == selectedPerson.model.personId || currentUser.administrator)">Edit</button>
        </div>
    </div>
</div>
