
<h2>Configuration</h2>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Configuration</h4></div>
            <div class="panel-body">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" id="nameCriteria" ng-model="propertySearchSvc.searchCriteria.propertyName">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="searchAction()">Search</button>
                    <button type="submit" class="btn btn-default btn-sm" ng-click="resetAction()">Clear</button>
                </form>
            </div>

            <table class="table table-hover">
                <tbody>
                <tr ng-repeat="property in propertySearchSvc.searchResponse.results">
                    <td><a href="#/property/edit/{{property.name}}">{{property.name}}</a></td>
                    <td>{{property.value}}</td>
                </tr>
                </tbody>
            </table>

            <pagination
                    max-size="4"
                    boundary-links="true"
                    ng-change="pageChanged()"
                    ng-model="propertySearchSvc.searchCriteria.pageNumber"
                    items-per-page="propertySearchSvc.searchCriteria.pageSize"
                    total-items="propertySearchSvc.searchResponse.total"
                    num-pages="propertySearchSvc.searchResponse.numPages">
            </pagination>
        </div>
    </div>
</div>
