
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{{report.model.name}}</h4></div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4" ng-repeat="param in report.model.parameterList">
                                <label for="{{param.name}}">{{param.label}}</label>
                                <input type="text" class="form-control" id="{{param.name}}" ng-model="reportExecuteSvc.searchCriteria.parameterList[0].value">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary btn-sm btn-block" ng-click="searchAction()">Search</button>
                        <button type="submit" class="btn btn-default btn-sm btn-block" ng-click="resetAction()">Clear</button>
                    </div>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <td ng-repeat="col in report.model.view.columnList">{{col.label}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dataRow in reportExecuteSvc.searchResponse.results">
                        <td ng-repeat="dataCell in dataRow.cells">{{dataCell.value}}</td>
                    </tr>
                </tbody>
            </table>

            <pagination
                    max-size="4"
                    boundary-links="true"
                    ng-change="pageChanged()"
                    ng-model="reportExecuteSvc.searchCriteria.pageNumber"
                    items-per-page="reportExecuteSvc.searchCriteria.pageSize"
                    total-items="reportExecuteSvc.searchResponse.total"
                    num-pages="reportExecuteSvc.searchResponse.numberOfPages">
            </pagination>
        </div>
    </div>
</div>
