
<div class="row">
    <div class="col-sm-12">
        <table width="100%;">
            <tr>
                <td><h3>People</h3></td>
            </tr>
            <tr>
                <td colspan="2"><hr style="margin-top: 0px;"></td>
            </tr>
        </table>
    </div>
</div>


<form role="form" class="form-inline">
    <div class="form-group">
        <label for="nameCriteria">Search names</label>
        <input type="text" class="form-control input-sm" id="nameCriteria" ng-model="personSearchSvc.searchCriteria.nameCriteria">
    </div>
    <button type="submit" class="btn btn-primary btn-sm" ng-click="searchAction()">Search</button>
    <button type="submit" class="btn btn-default btn-sm" ng-click="resetAction()">Clear</button>
    <button type="button" class="btn btn-success btn-sm" ng-click="newAction()">New Person</button>
</form>

<br>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Group</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="person in personSearchSvc.searchResponse.results">
        <td><a href="#/person/edit/{{person.personId}}">{{person.username}}</a></td>
        <td>{{person.firstName}}&nbsp;{{person.familyName}}</td>
        <td>{{person.personGroup}}</td>
    </tr>
    </tbody>
</table>

<pagination
        max-size="4"
        boundary-links="true"
        ng-change="pageChanged()"
        ng-model="personSearchSvc.searchCriteria.pageNumber"
        items-per-page="personSearchSvc.searchCriteria.pageSize"
        total-items="personSearchSvc.searchResponse.total"
        num-pages="personSearchSvc.searchResponse.numPages">
</pagination>


