
<div class="row">
    <div class="col-sm-12">
        <table width="100%;">
            <tr>
                <td><h3>Audit</h3></td>
            </tr>
            <tr>
                <td colspan="2"><hr style="margin-top: 0px;"></td>
            </tr>
        </table>
    </div>
</div>


<form role="form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nameTxtFld">Name</label>
                <input type="text" class="form-control input-sm" id="nameTxtFld" ng-model="measurementCriteria.name">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="iterationSizeTxtFld">Iteration Size</label>
                <input type="text" class="form-control input-sm" id="iterationSizeTxtFld" ng-model="measurementCriteria.iterationSize">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="iterationCountTxtFld">Iteration Count</label>
                <input type="text" class="form-control input-sm" id="iterationCountTxtFld" ng-model="measurementCriteria.iterationCount">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="sampleSizeTxtFld">Sample Size</label>
                <input type="text" class="form-control input-sm" id="sampleSizeTxtFld" ng-model="measurementCriteria.sampleSize">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="storageTypeTxtFld">Storage Type</label>
                <input type="text" class="form-control input-sm" id="storageTypeTxtFld" ng-model="measurementCriteria.storageType">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="resetTableTxtFld">Reset Table</label>
                <input type="text" class="form-control input-sm" id="resetTableTxtFld" ng-model="measurementCriteria.resetTable">
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-sm" ng-click="onPerformMeasurementsAction()">Perform Measurements</button>
    <button type="button" class="btn btn-success btn-sm" ng-click="onRefreshStatus()">Refresh Status</button>
    {{status}}
</form>

<br>
