<p>Report list view</p>

<ul class="" ng-repeat="reportName in reportNameList">
    <li ng-class="{active: isActive('/report/view/{{reportName}}')}"> <a href="#/report/view/{{reportName}}">{{reportName}}</a></li>
</ul>

