<!DOCTYPE html>
<html  xmlns:ng="http://angularjs.org" xmlns:th="http://www.thymeleaf.org" id="ng-app" ng-app="myApp" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="shortcut icon" href="favicon.ico"/>

    <title>AngularSpring</title>

    <!-- Bootstrap core CSS -->
    <link th:href="'/resources/' + ${version} + '/bower_components/bootstrap/dist/css/bootstrap.min.css'" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="'/resources/' + ${version} + '/css/app.css'" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="app-brand" href="#">Angular Spring Demo Application v5</a>
            <!--<a class="" href="/"><img src="img/SampleLogo.png"></a>-->
        </div>
        <div class="navbar-collapse collapse" ng-controller="LoginCtrl" >
            <ul class="app-nav-right app-nav">
                <li ng-hide="checkAuthenticated()"><a href="#/login">Login</a></li>
                <li ng-show="checkAuthenticated()">{{currentUser.userLabel}} <a href="" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div ng-show="checkAuthenticated()" class="col-sm-3 col-md-2 sidebar" ng-controller="MenuCtrl">
            <ul class="nav nav-sidebar">
                <li ng-class="{active: isActive('/audit')}"> <a href="#/audit/search">Audit</a></li>
                <li ng-class="{active: isActive('/person')}"> <a href="#/person/search">People</a></li>
                <li ng-class="{active: isActive('/property')}"> <a href="#/property/search">Configuration</a></li>
                <li ng-class="{active: isActive('/enquiryList')}"><a href="#/enquiryList">Enquiries</a></li>
                <li ng-class="{active: isActive('/reportList')}"><a href="#/reportList">Reports</a></li>
                <li ng-class="{active: isActive('/customer')}"><a href="#/customer">Customers</a></li>
            </ul>


            <div class="version">
                <p th:text="'Version: ' + ${version}">Version: </p>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div ng-view=""></div>

        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="'/resources/' + ${version} + '/bower_components/jquery/dist/jquery.min.js'"></script>
<script th:src="'/resources/' + ${version} + '/bower_components/angular/angular.js'"></script>
<script th:src="'/resources/' + ${version} + '/bower_components/angular-bootstrap/ui-bootstrap-tpls.js'"></script>
<script th:src="'/resources/' + ${version} + '/bower_components/angular-route/angular-route.js'"></script>
<script th:src="'/resources/' + ${version} + '/bower_components/angular-resource/angular-resource.js'"></script>
<script th:src="'/resources/' + ${version} + '/bower_components/bootstrap/dist/js/bootstrap.min.js'"></script>
<script th:src="'/resources/' + ${version} + '/bower_components/angular-uuid4/angular-uuid4.min.js'"></script>

<script th:src="'/resources/' + ${version} + '/app/app.js'"></script>
<script th:src="'/resources/' + ${version} + '/app/MenuCtrl.js'"></script>

<script th:src="'/resources/' + ${version} + '/app/audit/AuditEventSearchCtrl.js'"></script>
<script th:src="'/resources/' + ${version} + '/app/audit/AuditEventService.js'"></script>

<script th:src="'/resources/' + ${version} + '/app/exception/ExceptionCtrl.js'"></script>
<script th:src="'/resources/' + ${version} + '/app/exception/ExceptionService.js'"></script>

<script th:src="'/resources/' + ${version} + '/app/landing/LandingCtrl.js'"></script>
<script th:src="'/resources/' + ${version} + '/app/landing/LandingService.js'"></script>

<script th:src="'/resources/' + ${version} + '/app/login/LoginCtrl.js'"></script>
<script th:src="'/resources/' + ${version} + '/app/login/LoginService.js'"></script>

<script th:src="'/resources/' + ${version} + '/app/person/PersonSearchCtrl.js'"></script>
<script th:src="'/resources/' + ${version} + '/app/person/PersonEditCtrl.js'"></script>
<script th:src="'/resources/' + ${version} + '/app/person/PersonService.js'"></script>

<script th:src="'/resources/' + ${version} + '/app/property/PropertySearchCtrl.js'"></script>
<script th:src="'/resources/' + ${version} + '/app/property/PropertyEditCtrl.js'"></script>
<script th:src="'/resources/' + ${version} + '/app/property/PropertyService.js'"></script>

<script th:src="'/resources/' + ${version} + '/app/report/ReportListCtrl.js'"></script>
<script th:src="'/resources/' + ${version} + '/app/reporting/ReportCtrl.js'"></script>
<script th:src="'/resources/' + ${version} + '/app/reporting/ReportService.js'"></script>

<script th:src="'/resources/' + ${version} + '/libs/thinbus-srp/biginteger.js'"></script>
<script th:src="'/resources/' + ${version} + '/libs/thinbus-srp/isaac.js'"></script>
<script th:src="'/resources/' + ${version} + '/libs/thinbus-srp/random.js'"></script>

<script>
    // RFC 5054 2048bit constants
    var SRP6CryptoParams= {
        N_base10: "21766174458617435773191008891802753781907668374255538511144643224689886235383840957210909013086056401571399717235807266581649606472148410291413364152197364477180887395655483738115072677402235101762521901569820740293149529620419333266262073471054548368736039519702486226506248861060256971802984953561121442680157668000761429988222457090413873973970171927093992114751765168063614761119615476233422096442783117971236371647333871414335895773474667308967050807005509320424799678417036867928316761272274230314067548291133582479583061439577559347101961771406173684378522703483495337037655006751328447510550299250924469288819",
        g_base10: "2",
        k_base16: "5b9e8ef059c6b32ea59fc1d322d37f04aa30bae5aa9003b8321e21ddb04e300"
    }
</script>

<script th:src="'/resources/' + ${version} + '/libs/thinbus-srp/sha1.js'"></script>
<script th:src="'/resources/' + ${version} + '/libs/thinbus-srp/sha256.js'"></script>
<script th:src="'/resources/' + ${version} + '/libs/thinbus-srp/thinbus-srp6client.js'"></script>
<script th:src="'/resources/' + ${version} + '/libs/thinbus-srp/thinbus-srp6client-sha256.js'"></script>
<script th:src="'/resources/' + ${version} + '/libs/thinbus-srp/thinbus-version.js'"></script>
</body>
</html>
